body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px; 
} 
 
h1 {
  text-align: center;
  font-size: 2.5em; 
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  font-size: 1.2em;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"] {
  display: block;
  margin: 0 auto; 
  background-color: #B30738; 
  padding: .5em 2em;
}
  
#output {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

#output h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 20px;
}

#output pre {
  font-size: 1.2em;
  white-space: pre-wrap;
}

#search-form input[type="submit"],
#review-form input[type="submit"],
#permission-form input[type="submit"],
#app-details-form input[type="submit"],
#data-safety-form input[type="submit"],
#similar-apps-form input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.05em;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
  padding: 8px;
  font-size: 1.2em;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

#backButton {
  display: block;
  margin: 20px auto;
  background-color: #B30738;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
} 

#backButton:hover {
  background-color: #FF2D55;
}

#backButton:active,
#backButton:focus {
outline: none;
}
  
.button {
  background-color: #B30738;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
} 

input[type="submit"] {
  display:  block;
  margin: 20px auto; 
  background-color: #B30738;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

input[type="submit"]:hover {
  background-color: #FF2D55;
}

input[type="submit"]:active,
input[type="submit"]:focus {
  outline: none;
}

.form-message {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#search-form.is-submitting input[type="submit"] {
  background-color: #ccc;
  cursor: not-allowed;
}

#search-form.is-submitting .form-message {
  display: block;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 1.2em;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
  border: 2px solid #ccc;
}

input[type="text"]:hover {
  background-color: #e6e6e6;
}

input[type="text"]:focus {
  background-color: #f2f2f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid dimgray;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  outline: none;
}

input[type="radio"]:checked {
  background-color: #B30738;
} 

#instructions {
  text-align: center;;
}