body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

/* Add user-select: none */
* {
  user-select: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px; 
} 
 
h1 {
  text-align: center;
  font-size: 2.5em;  
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  font-size: 1.2em;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"] {
  display: block;
  margin: 0 auto; 
  background-color: #B30738; 
  padding: .5em 2em;
}
  
#output {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

#output h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 20px;
}

#output pre {
  font-size: 1.2em;
  white-space: pre-wrap;
}

#search-form input[type="submit"],
#review-form input[type="submit"],
#permission-form input[type="submit"], 
#data-safety-form input[type="submit"],
#similar-apps-form input[type="submit"],
#app-list-form input[type="submit"],
#developer-form input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; 
}

.form-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.05em;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
  padding: 8px;
  font-size: 1.2em;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

#backButton {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #B30738;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#backButton:hover {
  background-color: #e50000;
}

#backButton:active,
#backButton:focus {
outline: none;
}
  
.button {
  background-color: #B30738;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
} 

input[type="submit"] {
  display:  block;
  margin: 20px auto; 
  background-color: #B30738;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

input[type="submit"]:hover {
  background-color: #FF2D55;
}

input[type="submit"]:active,
input[type="submit"]:focus {
  outline: none;
}

.form-message {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#search-form.is-submitting input[type="submit"] {
  background-color: #ccc;
  cursor: not-allowed;
}

#search-form.is-submitting .form-message {
  display: block;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 1.2em;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
  background-color: snow;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
  border: 2px solid #ccc;
}

input[type="text"]:hover {
  background-color: #f2f2f2;
}

input[type="text"]:focus {
  background-color: #f2f2f2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid dimgray;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  outline: none;
}

input[type="radio"]:checked {
  background-color: #B30738;
} 

#instructions {
  text-align: center; 
}

/* Define the styles for the tooltip */
.tooltip {
  position: absolute;
  z-index: 1;
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease-in-out;
  user-select: none; /* Make the tooltip unselectable */
}

/* Define the styles for the hidden tooltip */
.tooltip.hidden {
  opacity: 0;
}

/* Define the styles for the list inside the tooltip */
.tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Define the styles for the list items inside the tooltip */
.tooltip ul li {
  cursor: pointer;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

/* Define the styles for the hovered list items inside the tooltip */
.tooltip ul li:hover {
  color: #000;
  background-color: #e6e6e6;
}

/* Define the styles for the active list item inside the tooltip */
.tooltip ul li.active {
  background-color: #e6e6e6;
}

/* Define the styles for the tooltip arrow */
.tooltip::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
} 

.form-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

label {
  flex-basis: 150px;
}

input[type="text"],
input[type="number"],
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #5b9dd9;
  outline: none;
}

.main-tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

.main-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.section {
  margin-top: 50px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}
.example-research-form {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.example-research-title {
  color: #555;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.0rem;
}

.example-research-question {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.0rem;
  font-weight: bold;
}

.citation {
  font-size: 0.8rem;
  color: #777;
  margin-top: 0;
}

.citation a {
  color: #555;
}

.citation a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .example-research-form {
    margin-left: 0;
    margin-right: 0;

  }
}